	@font-face{
		font-family: "Font_home";
		src:url(./Font/CaviarDreams.ttf) format("truetype");
	}

	html {
		font-family: Font_home;
		background-color: rgb(43, 49, 55);
	}
	*{
		box-sizing: border-box;
		color: white;
		font-size: 115%;
		text-align: center;
	}

	@media only screen and (max-width: 600px) {
	*{
		font-size: 100%;
	}
	}

	img{
		width: 40%;
		height: auto;
	}
	p, h1, h3{
		text-align: center;
	}
